[submodule "libultraship"]
	path = libultraship
	url = https://github.com/ChocoChopin/libultraship.git
	branch = codex/i4-resource-bounds
[submodule "torch"]
	path = torch
	url = https://github.com/HarbourMasters/Torch.git
	branch = main
